# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDEA
.idea/
*.iws
*.iml
*.ipr

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Allure
allure-results/
allure-report/
